[2017-09-15 09:45] ddysher opened #1 "Proposal and planning for API framework"
# Introduction

api framework, or http web framework, is a long standing engineering backlog across engineering teams. The proposal aims to shed some light on how we want to move forward. This is by no means a thorough design, we hope to gather enough feedback to get going. Feel free to comment.

## Background

No guideline is provided at this moment to start up a new apiserver from scratch, resul

[2017-09-22 06:56] ddysher opened #2 "[Umbrella] Basic framework"
Umbrella issue for tracking basic framework tasks, scope:
- [x] Research on existing solutions, pick one or create one
- [x] Proposal on basic framework implementation
- [x] Implementation: Routing, Multiplexing, Middleware, API error package, etc
- [x] Documentation
- [x] Testing

@kdada

[2017-09-22 06:57] ddysher opened #3 "[Umbrella] API validation"
Umbrella issue for tracking API validation tasks, scopes:
- [x] Research on requirements, e.g. what kind of validation do we need
- [x] Research on existing solutions
- [x] Proposal or demonstration on how validation should work in nirvana
- [x] Integration with basic framework
- [x] Testing

@walktall

[2017-09-22 06:58] ddysher opened #4 "[Umbrella] Configuration management"
Umbrella issue for tracking configuration management tasks, scopes:
- [x] Research on cobra and viper
- [x] Research on how oss create wrapper around cobra (kubernetes, docker, etc)
- [x] Proposal on server start up options and configuration management
- [x] Standalone implementation (if necessary and possible) (initial PR @zoumo 11/14)
- [x] Integration with basic framework
- [x] Testing

@zoumo

[2017-09-22 06:58] ddysher opened #5 "[Umbrella] OpenAPI generation"
Umbrella issue for OpenAPI generation tasks, scopes:
- [x] Research on kubernetes codegen
- [x] Introduction on codegen, background and how it works, etc (11/07 @liubog2008 )
- [x] Proposal on nirvana codegen
- [x] Integration with basic framework
- [x] Testing
- [ ] Detailed documentation on how to generate API docs

@liubog2008

[2017-09-22 06:58] ddysher opened #6 "[Umbrella] prometheus instrumentation and profiling"
Umbrella issue for tracking prometheus instrumentation tasks, scopes:
- [x] Research on required metrics
- [x] Research on profiling
- [x] Proposal on metrics and profiling
- [x] Integration with basic framework
- [x] Documentation, e.g. meaning of metrics, etc
- [x] Testing

@caitong93

[2017-09-22 06:58] ddysher opened #7 "[Umbrella] Tracing"
Umbrella issue for tracking tracing tasks, scopes:
- [x] Research on tracing tools and client
- [ ] Proposal on tracing, how it works in the framework
- [x] Integration with basic framework
- [ ] Documentation
- [ ] Testing

@ddysher @xiaoq17

[2017-10-25 11:57] ddysher opened #11 "Agenda for 10/25/2017 Meeting"
## Warm up

Where we are last time and why we are here.  Welcome @yejiayu.

I expect the whole project to be ready around end of Q4.

## Topics

#### Review Topics (5~10 min)

- Prometheus
- OpenAPI Gen

#### Remaining Topics (20 min)

- Tracing
- Configuration Management
- API Validation

#### PR Discussion (40 min)

- [Router implementation](https://github.com/caicloud/nirvana/pull/10): Concept

[2017-10-31 03:14] #11 closed, assigned to nobody

[2017-11-10 10:15] ddysher opened #12 "Agenda for 11/10/2017 Meeting"
## Topics

#### Updates (10 min)

- [Proposal](https://github.com/caicloud/nirvana/issues/1)
- Generator
- Configuration
- API Framework

#### PR Check in (40 min)

Checkin [Router implementation](https://github.com/caicloud/nirvana/pull/10) and create separate issues and assign to individuals (e.g. add minor features, documentation, test, etc).  Also, other tasks like adding CI, etc.

#### Action

[2017-11-10 12:57] ddysher opened #13 "Improve test coverage"
From @walktall, current (11/10/2017) [test coverage](https://github.com/caicloud/nirvana/pull/10#issuecomment-343387587) is 75%. There is still room for improvement.

[2017-11-10 12:59] ddysher opened #14 "Setup CI and badge"
Setting up CI, and add badge to README.

@Jimexist Please comment below about the tools you plan to use :)

[2017-11-10 13:04] ddysher opened #15 "Refactor exported methods"
Now a lot of methods are exported in router package, which should instead be private.  Keeping them private prevent library users from abusing internal states.

@kdada This issue needs triage.

[2017-11-10 13:15] #12 closed, assigned to nobody

[2017-11-10 14:54] Jimexist commented on #14
- [ ] travis CI
- [ ] coverall.io
- [ ] landscape
- [ ] godoc
- [ ] code report

[2017-11-11 09:34] #14 closed

[2017-11-13 02:00] kdada commented on #15
Got it. I'll refactor it after the framework is completed.

[2017-11-15 04:11] gaocegege opened #23 "Open Source License Missed"
**What is the issue about**:

Open source license

**What happened**:

Missed

**What you expected to happen**:

Add the license to the repository and code.

**Anything else we need to know**:

[2017-11-15 06:23] walktall opened #24 "Router regexp match"
**What is the issue about**:

Router regexp

**What happened**:

Given:

[code]

[code]

Call

[code]

[code]

**What you expected to happen**:

Want `iffd:111`

But Got `opts:edit id:111`

Want `id:789`

But Got `id:789:delete`

**Anything else we need to know**:

Tests trigger these can be found in #20

Cases ported from [here](https://github.com/go-chi/chi/blob/master/tree_test.go)

@kdada @ddy

[2017-11-16 06:48] ddysher commented on #23
Thanks!  We'll use Apache, it's being added [here](https://github.com/caicloud/nirvana/pull/25) (I'm requesting a separate PR).

[2017-11-17 02:51] ddysher opened #26 "Agenda for 11/17/2017 Meeting"
## Topics

#### Updates (5 min)

- OpenAPI Generation
  - thoughts after 11.10 seminar
  - @liubo is regularly busy, can we find another backup?  @Jimexist ?
- Tracing
  - @yejiayu catch up status
- Random thought
  - should we also start planning testing framework?
- Question from Slack
  - License
  - 框架暂时不支持 405 Method Not Allowed  406 Not Acceptable  415 Unsupported Media Type

#### PR Discuss

[2017-11-17 03:18] ddysher commented on #24
Discussed offline during @caicloud/review-framework .   This is work as expected, but we should add notice about this behavior.

[2017-11-17 08:26] ddysher commented on #3
@walktall Action Items after 4th meeting:
- LGTM on basic framework implementation (11/24/2017)
- Draft proposal on validation implementation (11/24/2017)

[2017-11-17 08:26] ddysher commented on #2
@kdada  Updates after 4th meeting (11/17/2017):
- Hopefully we'll make an agreement on basic framework, second round of review is scheduled on 11/24/2017

[2017-11-17 08:28] ddysher commented on #4
@zoumo Action Items after 4th meeting:
- Agree on configuration mgmt on 11/24/2017
- Few more changes to existing implementation, e.g.
  - package need rename
  - avoid new concept (e.g. viper)
  - example on configuration file usage
  - need more tests
  - etc

[2017-11-17 08:30] ddysher commented on #5
@liubog2008 @Jimexist  Action Items after 4th meeting:
- Proposal on how codegen should work in nirvana

@Jimexist Please loop in to this feature.

[2017-11-17 08:32] ddysher commented on #6
@caitong93  Action Items after 4th meeting:
- LGTM on basic framework implementation before 11/24/2017
- LGTM on configuration management before 11/24/2017
- Draft proposal on instrumentation works in nirvana

[2017-11-17 08:32] ddysher commented on #7
@yejiayu Action Items after 4th meeting:
- Draft proposal on how tracing works in nirvana

[2017-11-17 08:51] ddysher commented on #26
Action item created and proposal updated.

Our next meeting time is 11/24/2017

[2017-11-17 08:51] #26 closed

[2017-11-17 08:54] ddysher opened #28 "Support 405, 406, 415"
**What is the issue about**:

Methods support in Framework.

**What happened**:

nirvana doesn't support following methods right now:
- 405 Method Not Allowed
- 406 Not Acceptable
- 415 Unsupported Media Type

**What you expected to happen**:

All commonly used method should be supported

**Anything else we need to know**:

@caicloud/review-framework who wanna take this?

[2017-11-17 09:46] Jimexist opened #31 "Add gocyclo and golint into gometalinter"
**What is the issue about**:
Adding more linter coverage.

**What happened**:
Golint and gocyclo could not be added because there are some pending fixes to be made.

**What you expected to happen**:
See lint errors.

**Anything else we need to know**:
@caicloud/review-framework esp. the router implementations, there are some complex functions that need to be refactored.

[2017-11-17 09:47] Jimexist commented on #31
[code]

👆 see above

[2017-11-17 09:47] Jimexist commented on #31
see #29 and #30

[2017-11-17 09:49] Jimexist commented on #31
also see [results directly here](https://goreportcard.com/report/github.com/caicloud/nirvana)

[2017-11-19 07:01] #13 closed

[2017-11-19 09:40] ddysher commented on #24
@walktall can we close this?

[2017-11-19 12:43] Jimexist commented on #28
Personally I like [418](https://httpstatuses.com/418)

[2017-11-20 01:49] #24 closed

[2017-11-21 02:08] zoumo commented on #23
separate to the PR https://github.com/caicloud/nirvana/pull/34

[2017-11-22 11:39] liubog2008 commented on #5
## action items:
### basic
- [ ] integrate `kube-openapi` with  our `Defininition` struct
- [ ] support our own tag (fork or rewrite)
- [ ] examples

### advanced
- [ ] support common error response
- [ ] support validator
- [ ] support example
- [ ] support common parameters

### another topic
- [ ] support external/internal group conversion by config (used by hodor)
- [ ] support security spec

[2017-11-22 11:39] liubog2008 commented on #5
@ddysher @Jimexist

[2017-11-22 13:26] ddysher commented on #23
Close via #34  @gaocegege thx!

[2017-11-22 13:26] #23 closed

[2017-11-22 13:28] ddysher opened #36 "CLI package is not output full help information."
**What is the issue about**:

CLI package is not output full help information.

**What happened**:

[code]

**What you expected to happen**:

[code]

**Anything else we need to know**:

This is built from cli example. @zoumo

[2017-11-22 13:41] ddysher commented on #5
@liubog2008 every single item in ur list sounds like a bit of work, what's the attack plan?

For example, should we start from this first?  Is it doable now? If so, how long will it take? when will you or @Jimexist be able to send out initial implementation for review?

[2017-11-22 16:43] zoumo commented on #36
This issue is in expected because you set `Deprecated`, `ShorthandDeprecated` or `Hidden` for flag `log` and `dev`

in `pflag`
- `Deprecated`, `Hidden`  will hide the whole flag in help information.
- `ShorthandDeprecated` will hide the shorthand flag.

but you can set the flag as usual.

- `Hidden` just hide the flag
- `Deprecated` and `ShorthandDeprecated` will print a deprecated message to you

[2017-11-22 16:48] zoumo commented on #36
I think this should be mentioned in flags comments

[2017-11-24 01:57] kdada commented on #28
It's supported now.

[2017-11-24 03:14] walktall commented on #3
How to implement sample:

[code]

[2017-11-25 11:59] ddysher opened #38 "Agenda for 11/25/2017 Meeting"
## Topics

#### Status Updates (30 min)

- OpenAPI [Update](https://github.com/caicloud/nirvana/issues/5#issuecomment-346325988)
  - init pr in 12/15
- Validation [Update](https://github.com/caicloud/nirvana/issues/3#issuecomment-346733938)
  - not much work
  - init pr after basic framework (within 2 days)
- Configuration [Update](https://github.com/caicloud/nirvana/issues/4#issuecomment-34517757

[2017-11-25 12:10] yejiayu commented on #7
# Draft
## Tracing middleware
### Before
- start span
- Set `Protocol + HTTP Method + Path` to operation name (route support?)
- Set tags
- Set request to span logs. If it's a `GET, DELETE` records `query`, `POST PUT`  records `body`
### After
- Set status code, error..etc to  tags
- Set reponse to logs
## Wrap HTTP Client?
## Wrap clientset?

[2017-11-25 12:58] caitong93 commented on #6
## Package change:

/nirvana
  /kit
    |---- metrics.go
    |---- profiling.go
    |---- config.go

## Implementation

We will install pprof and prometheus metrics routes into web.Server

[code]

[code]

[2017-11-25 13:41] Jimexist opened #39 "GitHub page and example projects"
**What is the issue about**:
GitHub pages should be set up along with two example projects:
- hello world
- todo app

**What happened**:
Nothing happened, I just figure that a more out-reaching stance this repo shall take.

**What you expected to happen**:
More open source usage, more tractions, etc.

**Anything else we need to know**:

- [x] skeleton #40
- [ ] add status badge and add *fork me at

[2017-11-25 13:56] ddysher commented on #39
nice!  Apart from examples, we also need to add more documentation, usage, etc.

Do you need a domain :)  http://gonirvana.org/ ?

[2017-11-25 14:03] ddysher commented on #5
Action Items after 4th meeting:
- Initial PR on integration of `kube-openapi` and `nirvana`

[2017-11-25 14:05] ddysher commented on #3
Action Items after 5th meeting:
- Integration with basic framework, 12/01/2017

[2017-11-25 14:07] ddysher commented on #4
Action Items after 5th meeting:
- Integration of `viper` and `nirvana`, 12/01/2017
- Start looking at log package

[2017-11-25 14:08] ddysher commented on #6
@caitong93 Discussed offline, a top layer needs to be added to decouple `kit` and `web`.

Action Items after 5th meeting:
- Integration of metrics, profiling with `nirvana`

[2017-11-25 14:09] ddysher commented on #7
@yejiayu need to give a demo (15min) on 12/01/2017.

[2017-11-25 14:11] ddysher commented on #2
Updates after 5th meeting:
- merge framework implementation next week; file separate issue if necessary

[2017-11-25 14:12] ddysher commented on #36
Thanks!  Close via #37

@zoumo Please make sure related issues are closed.

[2017-11-25 14:24] ddysher commented on #1
@caicloud/review-framework I've updated our timeline, PTAL.

[2017-11-25 14:50] ddysher opened #41 "[Umbrella] Client generation"
Related to https://github.com/caicloud/nirvana/issues/5, we'll add more details later.

[2017-11-25 14:51] ddysher commented on #38
Action item created and proposal updated.

Our next meeting time is 12/01/2017

[2017-11-25 14:51] #38 closed

[2017-11-27 01:55] #36 closed

[2017-11-27 10:55] Jimexist opened #43 "investigate: contract drive, metadata-based property and/or automated testing"
## _Relentless automation!_

One shall see that given limited time and efforts, programmers tend to skip writing tests, and code quality plummets when a whole team joins such action. Tests should be automated, if possible.

There should be an investigation into how it can be done with limited efforts from application developers.

There's [gopter](https://github.com/leanovate/gopter) that was inspi

[2017-12-01 11:51] ddysher opened #47 "Agenda for 12/01/2017 Meeting"
## Topics

#### Updates

- OpenAPI Update
  - skip @liubog2008, interview
- Tracing Demo (15 min)
  - @yejiayu
  - Proposal or PR (next meeting)
- Configuration Update (10 min)
  - https://github.com/caicloud/nirvana/pull/45
  - @zoumo
- Validation Update (10 min)
  - https://github.com/caicloud/nirvana/pull/46
  - @walktall
- Instrumentation Update (10min)
  - https://github.com/caicloud/nirvana/

[2017-12-01 16:35] Jimexist opened #50 "better documentation for cli structs"
request for better documentation for `cli` structs.

Current docs for e.g. `persistent` bears little information. I think there's need for better explanation for what _persistent_ means for a cli argument.

- [ ] better comment
- [x] a section in the docs

[2017-12-01 16:38] Jimexist opened #51 "request for some built-in routes"
request for some built-in routes:

e.g.
- [ ] a helper to expose a `/version` route that can contain
  - version info e.g. git tag or `sha` digest
  - application name
  - other useful, public, non-security related info that'll help to identify the version
- [x] a helper to define metrics (e.g. hook up with Promethus) at `/metrics`
- [ ] a ping method for load balance health check at `/ping`?

[2017-12-04 03:03] walktall opened #52 "validator error format refine"
**What is the issue about**:

Validator should have a refined error format.

**What happened**:

Currently, error returned from validator.v9 is not clearly enough.

**What you expected to happen**:

A well formatted error for nirvana.

**Anything else we need to know**:

[2017-12-05 02:20] zoumo commented on #50
OK

[2017-12-05 12:53] ddysher commented on #52
Can you give an example of what works and whatnot?  It seem they do [process errors](https://github.com/go-playground/validator/blob/e3037695c7ae7262d462bbd8698f621ca768d128/errors.go).

[2017-12-05 17:30] ddysher commented on #51
@kdada to triage

[2017-12-05 17:30] ddysher commented on #51
feel free to reassign

[2017-12-05 17:32] ddysher commented on #28
@kdada are u working on this?  I'm thinking of assigning to someone else to get them familiar with the framework.

@caicloud/review-framework

[2017-12-13 09:51] Jimexist opened #58 "better construction for flags"
**What is the issue about**:
Improvement needed for StringFlag

<img width="289" alt="screenshot 2017-12-13 17 49 17" src="https://user-images.githubusercontent.com/622789/33932513-155155b0-e02e-11e7-912d-e16062bf4c21.png">

**What happened**:
There are simply too many fields to be filled for StringFlag.

**What you expected to happen**:
Should be a builder or some other helper functions to fulfil

[2017-12-13 10:53] Jimexist opened #59 "better error message"
Need better error message than:

[2017-12-13 11:07] Jimexist opened #60 "cli package should check name and usage"
this package should check to make sure name and usage are populated and not empty.

[2017-12-13 11:09] Jimexist opened #61 "Agenda for 12/13/2017 Meeting"
# Topics

## Previous action items
- Configuration
  - [x] @zoumo  https://github.com/caicloud/nirvana/pull/45
- Validation
  - [x] @walktall https://github.com/caicloud/nirvana/pull/46
- Instrumentation
  - [ ] @caitong93 https://github.com/caicloud/nirvana/pull/48
- Project [folder] re-arrangement
  - [ ] @kdada
- Tracing
  - [ ] @yejiayu https://github.com/caicloud/nirvana/pull/56
- OpenAPI Upd

[2017-12-13 11:17] Jimexist commented on #47
see #61

[2017-12-13 11:17] #47 closed

[2017-12-13 11:36] ddysher commented on #61
Initial labels

- kind
  - kind/feature
  - kind/bug
  - kind/cleanup
  - kind/design
  - kind/enhancement
  - kind/feature
- priority
  - priority/p0
  - priority/p1
  - priority/p2
  - priority/p3
- area
  - area/codegen
  - area/instrumentation
  - area/api
  - area/framework
  - area/configuration
  - area/validation
  - area/test

[2017-12-13 12:08] Jimexist opened #62 "add security related headers"
see [helmet](https://github.com/helmetjs/helmet#how-it-works) for example

[2017-12-13 12:09] Jimexist opened #63 "list routes upon start up"
list all routes, methods, and handlers upon startup

[2017-12-13 12:11] Jimexist opened #64 "support for adding banner"
see [dropwizard's section](http://www.dropwizard.io/1.2.2/docs/manual/core.html#banners) for example

[2017-12-13 12:11] Jimexist opened #65 "support for chunked-encoding (stream API)"
there is need for specification for streaming API and generator based handler

[2017-12-13 12:13] Jimexist opened #66 "add support for json casing twiddling"
for example http://www.dropwizard.io/1.2.2/docs/manual/core.html#snake-case

[2017-12-13 14:55] ddysher commented on #65
From @kdada

@kdada  Can u point us to the code, or write an example about the use case?

[2017-12-13 15:05] ddysher commented on #64
let's do it :)

[2017-12-13 15:08] ddysher commented on #62
Discussed offline, we probably need to add security headers as middleware.

We'll leave a place for all middleware while reorganizing the project. Let's do issue assignment then.

[2017-12-13 15:11] ddysher commented on #59
The request here is to include more information than just what goes wrong. For example:

[2017-12-13 15:12] ddysher commented on #58
Can you just leave the flag field empty?

[2017-12-13 15:13] ddysher commented on #52
@walktall ping

[2017-12-13 15:14] ddysher commented on #51
@kdada needs your input

[2017-12-13 15:21] ddysher commented on #31
@Jimexist is it still a problem now?

[2017-12-13 15:27] ddysher opened #67 "Add OpenAPI Generation Test"
**What is the issue about**:

A request for more unit test for [OpenAPI generation](https://github.com/caicloud/nirvana/pull/57)

[2017-12-13 15:31] ddysher commented on #50
closed via #54

[2017-12-13 15:31] #50 closed

[2017-12-13 15:46] ddysher opened #68 "support validator in OpenAPI generator"
We need to add validator support in openapi gen.  It is treated as advanced topic in [origin issue](https://github.com/caicloud/nirvana/issues/5), but is quite important in most cases.

[2017-12-13 15:48] ddysher commented on #5
@liubog2008  I've filed issue to include validator support.  I need more information to decide whether certain features are required for our initial release.

[2017-12-13 15:52] ddysher commented on #39
As discussed offline, apart from a 'large' getting started example, we need a set of small example projects to demonstrate features. Below is a non-exhaustive list:

- [ ] hello-world example
- [ ] stream API
- [ ] error message
- [ ] openapi generation
- [ ] cli configuration
- [ ] tracing

@kdada to add more

[2017-12-13 16:02] ddysher opened #69 "logo design"
We need a logo, something like this --> 🐦

### Plan A:

![image](https://user-images.githubusercontent.com/622789/34206545-e0bb10a4-e5c1-11e7-9d47-13a05c292d18.png)

### Plan B

下面图片加上 A 的翅膀

![image](https://user-images.githubusercontent.com/622789/34206578-091b01da-e5c2-11e7-8944-9c56c5d5dae3.png)

[2017-12-13 16:17] ddysher commented on #61
We are a little bit behind our schedule, let's have next meeting on 12/15/2017.

[2017-12-13 16:17] #61 closed

[2017-12-13 16:55] zoumo commented on #58
+1, leave the fields empty.
Only `Name` is required, the others are optional.

[2017-12-14 01:37] kdada commented on #28
@ddysher  ok.

[2017-12-14 01:47] kdada commented on #65
I'll add an example.

[2017-12-15 02:22] kdada commented on #63
Waiting for log package.

[2017-12-15 09:15] Jimexist opened #72 "Better error message for unsupported mime type"
**What is the issue about**:
need better error messages for unsupported mime types.

**What happened**:
got error message: `no producer for content type text/plain`

**What you expected to happen**:
show a list of supported mime types

**Anything else we need to know**:

[2017-12-15 10:00] Jimexist opened #73 "Throw at startup time instead of run time in case of wrong parameters"
**What is the issue about**:
early throw in case of wrong parameters

**What happened**:
if I defined a handler function of type:
[code]

while using definitions as
[code]

then there's only an error thrown during request time.

But in fact, this check can be done at startup time.

**What you expected to happen**:

**Anything else we need to know**:

[2017-12-15 10:09] Jimexist opened #74 "validator error is unreadable"
**What is the issue about**:
While using validator, the error message is unreadable

**What happened**:

While using validator:
[code]

the error message is:
[code]

**What you expected to happen**:

**Anything else we need to know**:

[2017-12-15 10:11] walktall commented on #74
duplicated with https://github.com/caicloud/nirvana/issues/52

[2017-12-15 10:11] #74 closed

[2017-12-15 10:12] Jimexist opened #75 "application/json 4xx error when Accept is supplied"
**What is the issue about**:
4xx error should be in json format if `Accept: application/json` header is specified

**What happened**:
For now only `text/plain` is returned

**What you expected to happen**:

**Anything else we need to know**:

[2017-12-15 11:58] ddysher opened #76 "Agenda for 12/15/2017 Meeting"
# Topics

## PR Updates

- Error package
  - [ ] @walktall https://github.com/caicloud/nirvana/pull/53
- Validation
  - [ ] @walktall https://github.com/caicloud/nirvana/pull/70
- Tracing
  - [ ] @yejiayu https://github.com/caicloud/nirvana/pull/56
- Configuration
  - [ ] @zoumo https://github.com/caicloud/nirvana/pull/55
- OpenAPI Gen
  - [ ] @liubog2008 https://github.com/caicloud/nirvana/pull/5

[2017-12-15 12:32] Jimexist commented on #58
no action

[2017-12-15 12:32] #58 closed

[2017-12-16 06:45] #7 closed

[2017-12-16 06:53] ddysher opened #77 "travis is failing due to gometalinter timeout"
**What is the issue about**:

travis is failing due to gometalinter timeout

**What happened**:

This makes every PR red

[2017-12-17 16:19] liubog2008 commented on #77
It has been fixed #79

[2017-12-17 16:38] liubog2008 commented on #5
- support common error response: support doc of error returned by framework, e.g. 404
- support example, generate a real example of API in doc
- support common parameters: e.g. start, limit

By the way, a detailed doc for business error (defined in handler function) is a problem which is not in plan.

[2017-12-17 16:41] liubog2008 commented on #68
- support basic validator (generate more complex json schema)
- support customized validator (by vendor extension)

[2017-12-18 04:01] kdada commented on #73
There are some explanation on the field.
[code]
It only works in request time. The pipeline is:
[code]

[2017-12-18 13:18] kdada commented on #51
I'll mark it in refactor doc.

[2017-12-18 13:28] kdada commented on #65
It's supported now.

[2017-12-18 13:28] #65 closed

[2017-12-19 12:21] #77 closed

[2017-12-19 12:23] kdada opened #83 "Proposal for refactoring nirvana"
## Why to refactor the framework

1. We don't have a consistent design goal.
  - A framework package should not expose methods/functions which is from other packages.
  - A framework package provides interfaces to plug other packages rather than depend on those packages derectly.
  - Main packages of nirvana should reduce dependencies with other packages (promote interface).
2. We don't have a con

[2017-12-19 12:24] kdada commented on #83
@caicloud/review-framework

[2017-12-19 12:27] Jimexist opened #84 "Simplify errors package"
Currently the `errors` package is a bit cumbersome:

[code]

in order to make a simple not found error.

Suggest to use shortcuts or simply API structure.

[2017-12-19 12:30] Jimexist opened #85 "Swapi example project"
## Deadline

Dec 31 2017

## Checklist

- [x] [cli setup](https://github.com/caicloud/nirvana/pull/49)
- [x] [list example](https://github.com/caicloud/nirvana/pull/80)
- [ ] validation example
- [ ] logging example
- [ ] errors handling example
- [ ] documentation & write up

_Notice that there's no tracing example_

[2017-12-19 12:45] Jimexist commented on #83
I think this PR is too far-fetching, including many things need to be in separate PRs. don't try to do everything in one PR.

e.g.

can be enforced by adding linters in `gomentalinter` in travis-ci

[2017-12-19 13:06] #76 closed

[2017-12-19 13:06] zoumo commented on #83
It looks very strange to place a `nirvana` dir in `nirvana` project.
If so, we need to import like that
[code]
but I only want to import
[code]

[2017-12-19 13:44] ddysher commented on #83
@zoumo I believe by nirvana package, @kdada means the top level package, not another nested nirvana package

[2017-12-19 14:23] zoumo commented on #84
There should be some built-in factory to help end users to `New` common erros
[code]

[2017-12-20 02:40] kdada commented on #83
@Jimexist Some PRs have been merged. Those code should be modified in this refactor.

[2017-12-20 02:58] ddysher commented on #31
ok, can we lower the priority and clean up later?

[2017-12-20 06:36] Jimexist commented on #83
for code styles you can see https://github.com/caicloud/nirvana/pull/88 - it should fix many problems and forbid more to come

[2017-12-20 09:24] Jimexist opened #91 "Agenda for 12/20/2017 Meeting"
# 回顾过去

[prev meeting](https://github.com/caicloud/nirvana/issues/76)

## PR Updates

- [x] Error package @walktall https://github.com/caicloud/nirvana/pull/53
- [x] Validation @walktall https://github.com/caicloud/nirvana/pull/70
- [x] Tracing @yejiayu https://github.com/caicloud/nirvana/pull/56
- [x] Configuration @zoumo https://github.com/caicloud/nirvana/pull/55
- [ ] OpenAPI Gen @liubog2008 h

[2017-12-20 09:43] Jimexist commented on #60
close no action

[2017-12-20 09:43] #60 closed

[2017-12-20 12:32] Jimexist commented on #83
[code]

[2017-12-20 12:39] Jimexist commented on #67
Per meeting discussion, 2018 年👋

[2017-12-20 12:45] Jimexist opened #92 "pick a domain name"
**What is the issue about**:

**What happened**:

**What you expected to happen**:

**Anything else we need to know**:

[2017-12-20 23:17] ddysher commented on #91
fruitful meeting.  close.

[2017-12-20 23:17] #91 closed

[2017-12-25 03:15] Jimexist commented on #83
@kdada can u update? what is the status now?

[2017-12-25 11:49] kdada commented on #83
@Jimexist I'm refactor `router` now. It makes many changes.

[2017-12-29 07:10] kdada opened #95 "Agenda for 12/29/2017 Meeting"
[prev meeting](https://github.com/caicloud/nirvana/issues/91)

## PR Updates

- [ ] Refactor nirvana @kdada https://github.com/caicloud/nirvana/pull/94

## Milestone

https://github.com/caicloud/nirvana/milestone/1

## Issues

- [x] https://github.com/caicloud/nirvana/issues/15 `@kdada`
- [x] https://github.com/caicloud/nirvana/issues/28 `@kdada`
- [ ] https://github.com/caicloud/nirvana/issues/31

[2017-12-29 08:22] kdada commented on #92
`gonirvana.org`

[2017-12-29 08:25] #95 closed

[2018-01-02 12:44] gaocegege opened #96 "Specify the owner of the copyright in LICENSE"
https://github.com/caicloud/nirvana/blob/master/LICENSE#L190

[2018-01-03 02:54] ddysher commented on #69
![image](https://user-images.githubusercontent.com/2191361/34507756-49ac61c8-f074-11e7-9e0e-09dc9c8d2b4d.png)

Image from @walktall

![image](https://user-images.githubusercontent.com/2191361/34507779-80efb6f8-f074-11e7-8997-a231513aca0a.png)

[2018-01-03 09:51] kdada commented on #2
## Architecture Overview
`log` and `errors` are basic for other packages. So I don't explain it in the diagram.
![image](https://user-images.githubusercontent.com/13895988/34514829-d9a9b43c-f034-11e7-9dee-5c7940755fab.png)

`nirvana` is the root package in the framework. It implements a configurable server structure.
All plugins implement config interface:
[code]
The startup flow:
![image](https:/

[2018-01-04 04:18] ddysher commented on #92
we've settled down to `gonirvana.io`.

[2018-01-04 04:18] #92 closed

[2018-01-09 10:37] yejiayu opened #98 "Too many "/" in URL path"
**What is the issue about**:
[code]

**What happened**:
parser `/api/v1//ping`

**What you expected to happen**:
`/api/v1/ping`

**Anything else we need to know**:

[2018-01-10 01:54] #28 closed

[2018-01-10 01:54] #15 closed

[2018-01-10 01:56] #59 closed

[2018-01-10 01:57] kdada commented on #63
Now we have log:
[code]

[2018-01-10 01:57] #63 closed

[2018-01-10 02:02] kdada commented on #75
Now all errors are formatted to the type defined in `Accept`. If `Accept` is not acceptable, defaults to `application/json`.

[2018-01-10 02:02] #75 closed

[2018-01-10 02:04] kdada commented on #83
PR has merged.

[2018-01-10 02:04] #83 closed

[2018-01-10 02:10] kdada commented on #84
Now we can use:
[code]
It still uses the format `${var}` instead of `%s`. Because the former is more clear in format sentence.

[2018-01-10 02:13] #84 closed

[2018-01-10 02:19] kdada commented on #28
It's supported now.

[2018-01-10 06:46] yejiayu opened #100 "Definition requires more detailed errors"
**What is the issue about**:

**What happened**:
![image](https://user-images.githubusercontent.com/10446547/34759025-9a77c066-f614-11e7-93a3-684ca05c7ef9.png)

I don't know where the error occurred.

**What you expected to happen**:

Print more info, and such as `Definition description`.

**Anything else we need to know**:

[2018-01-13 11:46] ddysher commented on #98
/assign @yejiayu

[2018-01-13 11:52] ddysher opened #103 "Agenda for 01/13/2018 Meeting"
## Agenda

- Make sure [P1 issues](https://github.com/caicloud/nirvana/issues?q=is%3Aissue+is%3Aopen+label%3Apriority%2Fp1) are done
- Remaining TODOs from individuals
  - example from @Jimexist

## Next Steps

- Examples https://github.com/caicloud/nirvana/issues/39
- User Docs (docs)
  - @Jimexist gitbook example (for devs)
  - @ddysher introduction, background, design
  - @kdada general usage e

[2018-01-15 11:27] #98 closed

[2018-01-15 11:34] kdada commented on #96
Same as https://github.com/kubernetes/kubernetes-template-project/issues/3

[2018-01-15 11:34] #96 closed

[2018-01-15 11:39] kdada commented on #72
I think we can mention it in docs.

[2018-01-16 01:43] #100 closed

[2018-01-21 13:50] #103 closed

[2018-01-28 16:48] kdada commented on #2
# User Guide

Nirvana is an API framework for creating RESTful APIs. This document shows you how to create API services with Nirvana.

## API Descriptor
In Nirvana, All APIs are described by `definition.Descriptor`. Before explaining, An example would let you have a straightforward sense.
[code]
It's an echo API descriptor. It may be a bit complex at your first sight, but it should be extremely ob

[2018-02-01 07:33] Jimexist commented on #85
update: i am thinking of abandoning this example and instead write https://github.com/caicloud/nirvana_example_meeting_rooms/

[2018-02-01 07:35] Jimexist opened #118 "need information on how to set version information for cli package"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:

need information on how to set version information for cli package

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-02-02 05:40] #73 closed

[2018-02-02 09:04] ddysher commented on #85
@Jimexist Do you want to close this?

/lifecycle freeze

[2018-02-02 09:05] #85 closed

[2018-02-02 09:08] ddysher commented on #69
/close

[2018-02-02 09:08] #69 closed

[2018-02-02 09:08] ddysher commented on #69
Done

[2018-02-02 09:12] ddysher opened #121 "Add selected default metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Only prom default process metrics are exposed now, there's no common metrics defined.

**What you expected to happen**:

Add few more default metrics, each can be individually enabled and disabled, part of https://github.com/caicloud/nirvana/issues/6

**How to reproduce it (as minimally and precisely as possible)**:

[2018-02-02 09:12] ddysher commented on #121
/priority p1

[2018-02-02 09:14] ddysher opened #122 "Handle empty body struct"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When there is no struct defined, openapi tool will still import unused package `"github.com/go-openapi/spec"`

**What you expected to happen**:

package not imported

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

/priority p1
/assign @liubog2008

[2018-02-02 09:16] ddysher opened #123 "Simplify openapi generation process"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

There is quite a few process when generating openAPI spec.

**What you expected to happen**:

openapi gen should be relatively easy to use.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

/assign @liubog2008
/priority p1

[2018-02-02 09:21] liubog2008 opened #124 "Import unused pkg when generate openapi definition"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-02-02 09:22] liubog2008 commented on #124
/priority p1

[2018-02-02 09:23] liubog2008 commented on #124
/kind bug

[2018-02-02 09:23] liubog2008 commented on #124
/assign

[2018-02-02 09:23] liubog2008 commented on #124
dup #122

[2018-02-02 09:23] #124 closed

[2018-02-02 09:35] Jimexist commented on #123
also request for generation of graphql schemas

[2018-02-02 13:39] Jimexist opened #125 "some feedback while using definition API"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

While using the definition API I found that it is _feature rich_, i.e. there are many ways to define a service endpoint:

### by declaratively construction:

[code]

### by using builder patterns:

[code]

_note that 👆 I couldn't find place to define the actual function_

But the problem is I think a simple API should be simple enough f

[2018-02-02 13:42] Jimexist commented on #125
Also another suggestion is the two levels of concepts, i.e. `descriptor` and `definition` is not that obvious... what do they even mean?

[2018-02-02 14:31] ddysher commented on #125
/cc @kdada

[2018-02-02 14:35] ddysher opened #126 "Validation error message is almost impossible to understand"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:

Validation error message is almost impossible to understand, see https://github.com/caicloud/nirvana/pull/120#discussion_r165606919

**What you expected to happen**:

The message should be easy to understand, and precisely locate point of failure.

**How to reproduce it (as minimally and precisely as possible)**:

[2018-02-03 02:00] walktall commented on #52
duplicate with #126

[2018-02-03 02:00] #52 closed

[2018-02-03 07:35] ddysher opened #128 "Properly handle error type in all built-in producer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Text Producer do not support returning error type.

**What you expected to happen**:

All built-in producer should properly handle errors.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

/assign @kdada
/priority p1

[2018-02-03 09:20] #128 closed

[2018-02-03 14:37] ddysher opened #132 "panic when defining struct in main package"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When struct is defined in main, nirvana will panic

[code]

**What you expected to happen**:

openAPI will still be generated.

**How to reproduce it (as minimally and precisely as possible)**:

Use following file, generate API and run

[code]

**Anything else we need to know?**:

/cc @liubog2008

[2018-02-03 14:37] ddysher commented on #132
/assign @liubog2008

[2018-02-03 14:59] ddysher commented on #126
@walktall please do this for struct validation as well.

[2018-02-03 15:49] walktall commented on #126
It does this for struct I think. Check https://github.com/caicloud/nirvana/pull/127/files#diff-87d82f20a24af750cacd8a39e096a337R128
________________________________
From: Deyuan Deng <notifications@github.com>
Sent: Saturday, February 3, 2018 10:59 PM
To: caicloud/nirvana
Cc: Zhiheng Huang; Mention
Subject: Re: [caicloud/nirvana] Validation error message is almost impossible to understand (#126)

[2018-02-04 03:36] ddysher commented on #126
oops, i was looking at an older file.

[2018-02-04 03:36] #126 closed

[2018-02-04 03:40] #122 closed

[2018-02-04 12:00] ddysher opened #136 "Agenda for 02/04/2018 Meeting"
## Agenda

- Recent issues and bugs
- Example/README status report
- Open PRs
- Config design

[code]

expected (draft)
[code]

[2018-02-05 01:48] #136 closed

[2018-02-05 03:05] liubog2008 opened #137 "Path item overriding problem in OpenAPI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Can't build a nested descriptor

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
I'll fix today(02.05)

A PR related with it #134

[2018-02-05 03:06] liubog2008 commented on #137
/priority p1

[2018-02-05 03:06] liubog2008 commented on #137
/priority p0

[2018-02-05 14:29] ddysher opened #139 "Configuration support, and better startup process"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

We need a way for users to handle options in their nirvana apps; on the other hand, we want plugin options and nirvana options to be visible to users via standard cli interface.

A proposed interface:

[code]

Here, metrics and profiling plugins are enabled, user should be able to see their options from command line.

[2018-02-05 14:30] ddysher commented on #139
/priority p0

[2018-02-05 14:30] ddysher commented on #137
/assign @liubog2008

[2018-02-05 14:31] ddysher commented on #121
close via #131

/close

[2018-02-05 14:31] #121 closed

[2018-02-05 14:48] ddysher opened #140 "Add options to plugins"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Once this PR https://github.com/caicloud/nirvana/issues/139 landed, we'll need to add options to existing plugins.

**Anything else we need to know?**:

/assign @yejiayu @caitong93
/priority p1

[2018-02-06 01:28] ddysher opened #141 "openapi tag should use nirvana instead of caicloud"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup
/area codegen

**What happened**:

Right now, adding openapi generation requires tag `// +caicloud:openapi=true`.  Ideally, we should use `// +nirvana:openapi=true`

**Anything else we need to know?**:

/assign @liubog2008
/priority p1

[2018-02-06 14:38] Jimexist opened #148 "better perf tools and metrics"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:

- in README the instructions for `ab` should also include concurrency parameter
- also one should try out `httperf` for another opinion

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-02-07 05:40] Jimexist opened #154 "framework overview in readme is not succinct enough"
/kind feature

See [Rocket's](https://rocket.rs/overview/) for a better example. Ideally there should be a one pager that explains the core usage.

[2018-02-07 08:24] ddysher commented on #148
feel free to make a change :)

[2018-02-07 09:27] ddysher commented on #1
Done 🚀

I'll create a doc to archive the issue.

[2018-02-07 09:27] #1 closed

[2018-02-07 09:28] ddysher commented on #2
Done 🚀

I'll create a doc to archive the design part of the issue.

[2018-02-07 09:28] #2 closed

[2018-02-07 09:32] ddysher commented on #3
Done 🚀

[2018-02-07 09:32] #3 closed

[2018-02-07 09:34] ddysher commented on #4
Done, but this is superseded by https://github.com/caicloud/nirvana/issues/139 🤣

[2018-02-07 09:34] #4 closed

[2018-02-07 09:39] ddysher commented on #6
Done 🚀

[2018-02-07 09:39] #6 closed

[2018-02-09 05:46] ddysher opened #161 "unittest for config options"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/area test

**What happened**:

unittest is needed for https://github.com/caicloud/nirvana/pull/159

**Anything else we need to know?**:

/assign @kdada
/priority p0

[2018-02-09 05:47] ddysher opened #162 "add tag "default" for options"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

User provided options can use `desc` tag for description, similarly, we should also provide a `default` tag for them to add flag default.

**Anything else we need to know?**:

Right now, default value is set in config function, i.e.

[code]

What we want is

[code]

/assign @kdada
/priority p2

[2018-02-09 05:50] ddysher opened #163 "update examples"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/area documentation

**What happened**:

examples need to be updated after #159 gets merged

**Anything else we need to know?**:

/assign @kdada @walktall @caitong93 @yejiayu @Jimexist @ddysher
/priority p1

[2018-02-09 05:50] ddysher commented on #163
/kind documentation

[2018-02-09 11:50] kdada commented on #139
Refer to #159.

[2018-02-09 11:50] #139 closed

[2018-02-10 08:01] kdada opened #169 "Need to distinguish success produces and error produces"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

There is only one field named `Produces` to decide data type of response body.
It's normal for `JSON` and `XML`. Because they have consistent behavior between success data and error data.
But for those APIs that return files or streams, success data is file reader and error data is `JSON`. In these occasions, We nee

[2018-02-10 13:25] #161 closed

[2018-02-11 09:40] #125 closed

[2018-02-11 14:20] #163 closed

[2018-02-22 14:14] ddysher commented on #137
@liubog2008 ping

[2018-02-23 09:27] zoumo opened #173 "Need a PreServe Hook before nirvana server running"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I want to do something, such as setting DEBUG mode, before server running.
But the `config` is only set in command.Run(), so I can not get the correct value from `config` in command.PreRun()

**What you expected to happen**:
need a PreServe Hook

**How to reproduce it (as minimally and precisely as possible)**:

**Any

[2018-02-25 02:58] #141 closed

[2018-02-26 02:42] ddysher commented on #154
once we have a full README, we can break it down and make it better.

[2018-02-26 02:49] ddysher commented on #140
close via https://github.com/caicloud/nirvana/pull/159

[2018-02-26 02:49] ddysher commented on #140
/close

[2018-02-26 02:49] #140 closed

[2018-02-26 02:50] ddysher commented on #132
:point_up_2: @liubog2008 any comments?

[2018-02-26 02:54] ddysher commented on #118
@Jimexist can u be more specific about the requests, whats ur expectation and usage example? BTW, cli package is removed now.

[2018-02-26 03:36] Jimexist commented on #118
so this can be closed? @ddysher

[2018-02-26 03:45] ddysher commented on #118
SGTM, we can close it.

this is also partially mentioned [here](https://github.com/caicloud/nirvana/issues/51)

/close

[2018-02-26 03:45] #118 closed

[2018-03-04 14:55] liubog2008 opened #183 "Add a OpenAPI endpoint plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:

A plugin which is easy to register an endpoint to serve OpenAPI documents

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-03-04 14:56] liubog2008 commented on #183
/priority P1

[2018-03-05 01:37] liubog2008 commented on #132
I can't reproduce ..

[2018-03-07 09:04] ddysher commented on #132
i'll take a look later

[2018-03-09 00:24] #137 closed

[2018-03-22 01:45] #173 closed

[2018-03-28 10:27] zjj2wry opened #192 "feature request: nirvana log should parse flag"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
cc @kdada @ddysher

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-03-29 10:46] kdada commented on #162
This feature is useless.
When a user passes an option to nirvana command, the command can't distinguish if a field should use default value.

[2018-03-30 01:37] kdada commented on #162
/close

[2018-03-30 01:37] #162 closed

[2018-03-30 01:41] kdada commented on #192
Done by #195

[2018-03-30 01:41] #192 closed

[2018-03-30 01:46] kdada commented on #64
We have a banner now:
[code]

[2018-03-30 01:49] kdada commented on #64
I'll close this issue. If I misunderstood what you mean, please reopen this issue and discuss it.

[2018-03-30 01:49] #64 closed

[2018-03-30 01:58] ddysher commented on #162
As discussed offline, you can distinguish this using pointer value, this is the way Kubernetes deals with default vs no-value.

I'm fine with closing this for now if there is no immediate use case.

[2018-03-30 07:28] kdada commented on #162
It may be not suitable with our scene. Fields in `Option` are managed by `pflag`, That means no field can be nil (Of caurse we can write more codes to bypass it). In addition, a pointer field is not easy to use.
e.g.
[code]

[2018-04-04 07:39] zjj2wry opened #198 "same routes should report an conflict error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/assign @kdada

**What happened**:
i have same routes, should report an conflict error
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-04-04 08:03] zjj2wry opened #200 "define a definition.Body in consume Parameters, client don't pass contentType, should 400 not 500"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/assign @kdada

**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-04-09 03:54] #198 closed

[2018-04-17 06:50] zjj2wry commented on #200
@kdada @ddysher
should we fix this problem? Because nirvana did some client doing things. When the client passed the wrong data, I think we shouldn't return 500

[2018-04-17 09:16] kdada commented on #200
@zjj2wry Fix in v0.2.0

[2018-04-23 03:50] kdada opened #202 "Upgrade golang to v1.10"
There are two versions we used: `v1.8` and `v1.9`. The latest version is `v1.10`.
There are some conflicts between `v1.10` and before versions (#172). In the lifecycle of release 0.2, we need upgrade golang verison to `v1.10`

[2018-04-23 03:52] kdada commented on #202
/assign @kdada
/area instrumentation
/priority p0

[2018-04-23 04:04] kdada commented on #66
Two naming formats may confuse API users. If it's necessary, registering data producers is a way.

[2018-04-23 04:27] kdada opened #203 "Need a nirvana cli"
The cli should have capabilities:
1. Create project
2. Generate clients [go, graphql]
3. Generate OpenAPI

[2018-04-23 04:28] kdada commented on #203
/assign @kdada
/area cli
/kind feature
/priority p0

[2018-04-25 02:57] #202 closed

[2018-05-28 11:52] wzshiming opened #210 "Need a tool to generate model from definition"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Definitions and models, labor duplication

[2018-06-13 03:05] kdada opened #213 "Records and improvements from the development of v0.2"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-06-13 03:13] kdada commented on #210
#212

This PR does it.

[2018-06-13 03:28] wzshiming commented on #210
I see. Thank you.

[2018-06-20 03:59] kdada commented on #5
Finished in #209. If there are some other questions, please file new issues.

[2018-06-20 03:59] #5 closed

[2018-06-20 04:00] kdada commented on #41
Finished in #212 . If there are some other questions, please file new issues.

[2018-06-20 04:00] #41 closed

[2018-06-20 04:01] kdada commented on #67
This issue is expired.

[2018-06-20 04:01] #67 closed

[2018-06-20 04:02] kdada commented on #123
Finished in #209. If there are some other questions, please file new issues.

[2018-06-20 04:02] #123 closed

[2018-06-20 04:02] kdada commented on #132
This issue is expired.

[2018-06-20 04:02] #132 closed

[2018-06-20 04:03] kdada commented on #183
This issue is expired.

[2018-06-20 04:03] #183 closed

[2018-06-20 04:03] kdada commented on #203
Finished in #209 and #212. If there are some other questions, please file new issues.

[2018-06-20 04:03] #203 closed

[2018-06-20 04:03] kdada commented on #210
Finished in #212. If there are some other questions, please file new issues.

[2018-06-20 04:03] #210 closed

[2018-06-22 02:12] kdada commented on #154
I've added user manuals in #215.

[2018-06-22 02:13] kdada commented on #154
/assign @kdada

[2018-06-22 05:12] #200 closed

[2018-06-22 06:49] #51 closed

[2018-06-27 09:52] #39 closed

[2018-06-27 09:52] #154 closed

[2018-06-28 03:49] kdada commented on #213
Added

For api servers, `doc.go` may be not useful. In most scenarios, we don't add a separated file to write docs.

`pkg/database` is an irrelevant part with nirvana. We can regard it as a best practice and put it into manuals.

I just followed golang `log` package.

I have already recorded it into manuals.

I think `init()` is a better way than others. In a go file, `init` only register APIs whi

[2018-06-28 03:50] kdada commented on #213
It's reasonable but not urgent.

@caitong93  you can refactor it if you are free.

[2018-06-28 04:02] kdada commented on #213
Default values for `apiOptions` can't make you easy to add unit tests. Because you always need to construct a test project.

It's default order of `cobra`. If you thinks it's not Intuitive, you can create a pr to fix it.

It's reasonable.

`rest` package supports `RequestExecutor`. you can write log by yourself.

Same as
[code]

No. In most cases, one arg for path is enough. But sometimes, our des

[2018-06-28 04:09] kdada commented on #213
Total wroks:
1. [P0] Add default path to `nirvana api`
1. [P0] Rename `pkg/api` to `pkg/apis`
1. [P0] Remove `contention` from `profiling`
1. [P0] Add handlers for uploading/downloading static files
1. [P1] Add best practice about `pkg/database` into manuals.
1. [P1] Add best practice about `client generation` into manuals
1. [P1] Refine `README.md` from `nirvana init` @ddysher
1. [P1] Add success

[2018-07-06 02:20] kdada opened #227 "Add more details to user manuals"
User manuals are incomplete. We need more docs about:
1. How to use Nirvana
2. How to contribute Nirvana

[2018-07-06 03:16] kdada commented on #227
/kind documentation

[2018-09-25 04:42] MephistoMMM opened #239 "Add support for golang module function"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Now, only configuration files for `dep`  dose nirvana command tool `nirvana` support to generate. But since [version 1.11](https://golang.org/doc/go1.11#modules) , Go has added preliminary support for a new concept called “modules” which will be the official solution of project dependency management.

**What you expe

[2018-09-25 09:07] kdada commented on #239
Go module is experimental.  My main concern is that it may be changed in the future.

But it could be an alpha feature of Nirvana!!

If you are interested in this feature and you have times to finish it, you can follow the [CONTRIBUTION.md](https://github.com/caicloud/nirvana/blob/master/CONTRIBUTING.md#write-a-new-feature) and write codes for Nirvana.

[2018-09-26 04:27] MephistoMMM commented on #239
I am willing to try. 😄

[2018-09-27 03:13] MephistoMMM commented on #239
I defined a boolean flag named `mod`:

[code]

And write`exTemplateGopkg` method to generate the path of configuration file and the template function , then replace [key/value](https://github.com/caicloud/nirvana/blob/8678bd29be5fbe536ff0a183567264e5f0e466fd/cmd/nirvana/project/init.go#L229) of `dep` in `templates` method :

[code]

Detail of `exTemplateGopkg` :

[code]

[2018-09-27 03:18] MephistoMMM commented on #239
Also, modify makefile template.

Now it will move packages to `vendor` directory before running docker build command:

[code]

[2018-09-27 04:07] kdada commented on #239
`o.GoMod` looks not very extensible. Adding flag `--vendor` with values `dep`(default) and `mod` is more preferred.

Why `Makefile` needs to install vendor?

[2018-09-27 05:29] MephistoMMM commented on #239
You are right. I will change `--mode` to `--vendor`.

- - -

The following is from the output of `go help modules` .

during a build, but it still stores downloaded dependencies (in GOPATH/pkg/mod)
and installed commands (in GOPATH/bin, unless GOBIN is set).

If not run command `go mod vendor` ,  go module will download dependencies again while building docker image  , because both `vendor` direac

[2018-09-27 08:17] kdada commented on #239
`go mod vendor` only executes once in a build process. So you can let it be a target:

[code]

The `mod-vendor` is not good. You can give it an appropriate name.

[2018-10-02 00:58] #239 closed

[2018-10-21 11:47] #66 closed

[2018-10-21 11:47] #72 closed

[2018-10-26 06:39] kdada opened #244 "Plugin profiling generate wrong html"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The path of profiling `/debug/pprof` returns a html page:
[code]

Path `"./{{.Name}}?debug=1"` directs to  `/debug/{{.Name}}?debug=1`

[2018-10-26 10:33] caitong93 opened #245 "Log package: support logging to file"
/kind feature

[2018-10-26 10:57] kdada commented on #245
Please implement it and file a PR.

[2018-10-30 08:06] kdada opened #246 "service.parseAcceptTypes() can't parse standard content types."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If pass a content type like `text/*;q=0.3, text/html;q=0.7, text/html;level=1, text/html;level=2;q=0.4, */*;q=0.5`, the method will generate wrong factor.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-11-01 02:50] #246 closed

[2018-11-12 02:16] #244 closed

[2018-11-13 13:08] zjj2wry opened #249 "updown file API can not get fileHeader"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

 c.request.FormFile(key) should return fileHeader, because fileHeader have content and filename. but file only have content

[code]
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2018-11-13 13:08] zjj2wry commented on #249
/assign @kdada

[2018-11-14 04:31] kdada commented on #249
You can bypass it through extracting request from context directly.

If you think the API has weak adaptability, Please consider about implementing a stronger interface to replace `multipart.File`.

[2018-11-17 02:40] zjj2wry commented on #249
make sense，but i think it would be better have a mechanism for definition to pass multiple key values. Or let the user customize the definition.

[2018-11-17 05:05] #68 closed

[2018-11-17 05:05] #148 closed

[2018-11-17 05:05] #62 closed

[2018-11-19 03:05] kdada commented on #249
For APIs, users don't need to know how to get data from http requests. They should only care about business logic.

An example with RESTful style:
[code]
Of course, sometimes APIs need to adapt to strange demands. So you can got meta from http request directly. But for convenient, we can extends `File(key string) (multipart.File, bool)` to:
[code]
Then users can define their APIs like:
[code]

[2018-11-19 04:04] zjj2wry commented on #249
i think it would be better define ```type CustomFile interface``` in user own project instead of nirvana project. Can we set a custom definition? Such as definition.CustomFile

[2018-11-19 06:35] kdada commented on #249
Actually, users can implement a new interface which is a subset of `service.File`. For example:
[code]

Nirvana supports it.

[2018-12-03 09:45] #249 closed

[2018-12-03 09:52] zjj2wry opened #251 "how can i get execute error？"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
[code]

```err = executor.Execute(ctx)```can we set this err into context, then we get this err in my middleware. because i want process my common error in last middleware.

## example
origin:
[code]

now : because i need convert apiserver error to nirvana
[code]

/cc @kdada

**What you expected to happen**:

**How to

[2018-12-03 09:54] zjj2wry commented on #251
/assign @kdada

[2018-12-04 03:44] zjj2wry commented on #251
got it，thanks

will attemp use Operator convert my API handle result.

[2018-12-04 03:45] zjj2wry commented on #251
Do we have an example to use Operator in Definition.Results?

[2018-12-04 04:00] kdada commented on #251
It's totally same as `Parameter.Operator`. Example: https://github.com/caicloud/nirvana/blob/master/examples/api-basic/api/v1/app.go

[2018-12-04 08:42] kdada commented on #251
/close

[2018-12-04 08:42] #251 closed

[2018-12-18 12:11] gaocegege commented on #245
Hi, I am a student from Shanghai Jiao Tong University and will be a Caiclouder in the next year. I am interested in the project :-)

Actually, I have a question about our logger package. There are [many libraries about loggers](https://github.com/avelino/awesome-go#logging) then I am not sure why we implemented the std logger on our own. Is there any thing I missed about it? I'd appreciate it if y

[2018-12-19 12:08] kdada commented on #245
Actually the biggest problem is `there are many log libraries`. So we implement a common log interface (glog-like) to constraint our codes. Then you can replace the implementation of logger with any other packages which you like.

In the other hand, Nirvana should have its own log packages for common usage. e.g. std, file.

[2018-12-19 12:09] kdada commented on #245
@gaocegege go ahead.

[2018-12-24 07:42] gaocegege opened #252 "[problem] Fail to run the test command in Makefile"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I run `make`, code [here](https://github.com/caicloud/nirvana/blob/master/cmd/nirvana/project/init.go#L747) output an error to STDERR:

[code]

**What you expected to happen**:

Generate v-dirty if there are changes, generate v if there is no change.

**How to reproduce it (as minimally and precisely as possible)**:

[2018-12-25 02:18] kdada commented on #252
Please test it in MacOS and Linux.

[2018-12-25 02:32] gaocegege commented on #252
I have no macOS machine now. The problem can be reproduced in Linux (4.4.0-78-generic).

[2018-12-25 03:12] gaocegege opened #254 "[feature request] Add Travis CI Configuration Generation in nirvana init."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

It will be awesome if we could generate the .travis.yml together with the code base and Makefile.

[2018-12-25 03:31] kdada commented on #254
It's a good idea for simplifying users' open-source projects. But it's not suitable for everyone. So I think we can add a flag to `nirvana init` to generate config for Travis CI (or Circle CI).

[2018-12-25 04:15] gaocegege commented on #254
SGTM. It is a addtional feature and not everyone needs this.

[2018-12-25 16:39] caitong93 commented on #252
I test this on Mac, CentOS and Ubuntu. Only reproduced this on Ubuntu.

[2018-12-25 16:51] caitong93 commented on #252
I think this is caused by difference of `sh` and `bash`.
On CentOS and Mac, `/bin/sh`(or /usr/bin/sh) is a symbol link to `bash`.

[2018-12-26 01:52] kdada commented on #252
@gaocegege please file a PR to fix it.

[2018-12-27 02:09] #252 closed

[2018-12-27 09:53] gaocegege opened #256 "[question] How to use the option when initialize the middleware"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind question

I implement a customized middleware to add the DB interface to the context, and the middleware supports different DB backends (e.g. SQLite3, MySQL and so on), thus I use the option to let users define the backend.

But, I found that we cannot use the option before `cmd.ExecuteWithConfig`, since the values will all be empty before the c

[2018-12-27 11:08] kdada commented on #256
Middleware is a concept of router. You need to implement a plugin witch install a db middleware to router.

Here is the document which describes how to implement plugins: https://caicloud.github.io/nirvana/zh-hans/concepts/plugin.html

Also you can find an example at: https://github.com/caicloud/nirvana/blob/master/plugins/reqlog/reqlog.go

[2018-12-27 13:15] gaocegege commented on #256
Thanks, gotcha. I implemented a middleware directly. It seems that I misunderstand the concept of middleware. I will take a look.

[2018-12-27 13:15] #256 closed

[2019-01-15 02:45] tskdsb opened #259 "[API generation] we need better api generation"
/kind feature

**What happened**:
I'm glad to see the feature: api-auto-generation, it looks like:
![image](https://user-images.githubusercontent.com/11919928/51152798-5e77e980-18a8-11e9-82df-04afe0f8f006.png)
it seems good, but I want more.

**What you expected to happen**:
I wrote an API documentation a few days ago, and I suffered a lot. So, I hope that the ability of API-generation can be more

[2019-01-15 02:46] tskdsb commented on #259
/assign @ddysher

[2019-01-15 12:39] kdada commented on #259
Q: Required or Default?
A: If a parameter has a default value, it shows the default value in the field frame. Otherwise it shows `Required`.

Q: Where is parameter descriptions?
A: In `Parameter.Description` and `Result.Description`. Also you can write comments for your struct fields. These comments will be shown at the right side of struct fields.

Q: How to set examples?
A: In `Definition.Exampl

[2019-01-17 03:31] tskdsb commented on #259
- 【有无默认值】和【是否必须项】概念上是不同的，但是在业务中一般都是【有默认值用默认值】，【无默认值手工填】，所以这两个flag可以简化为一个，同意。

- `Parameter.Description`我会去试试。body中的字段描述，comments是写在struct的tag中吗，比如这样：
[code]

- 关于测试样例：我理解目前nirvana是有一个矛盾，Examples里只放了response，然后request是另外起服务还是加入到nirvana中？我建议是另外搞，顺便把response也拿出来，因为我们对ReDoc有依赖，不能受制于人，就让ReDoc用来【显示】，【交互】我们自己做。

[2019-01-17 03:47] kdada commented on #259
For comments:
[code]

[2019-01-17 03:52] kdada commented on #259
If you are interesting in extending doc server for Nirvana, please write down your proposal.

[2019-01-17 08:16] tskdsb commented on #259
经过 @kdada 的指导，更深入的使用后，发现nirvana的API生成已经足够完备，至少信息展示方面已经足够了。

那只剩【交互】方面的问题了，简单的说需要以下功能：
- 为所有parameters增加输入框
- 方法可点击（如POST，GET），点击发送请求
- 响应可显示（可以显示在原来example的地方）
- 样例可保存（一次典型的请求响应数据可以保存下来当测试用例使用）

结构图：
![image](https://user-images.githubusercontent.com/11919928/51304410-0b05c700-1a73-11e9-8697-f737f855c09e.png)

方案：
- 选取ReDoc某个版本固化，在此基础上修改，增加上面提到的4个功能
- 自动化接口测试同时建设起来

待补充

[2019-01-22 04:54] ddysher commented on #259
@kdada

Can we update the docs so people can understand how to create useful API generation without asking :)

[2019-01-25 06:06] kdada commented on #259
@zcong1993  How does it implement proxy and mock APIs?

[2019-01-25 07:38] binfer opened #262 "什么时候可以支持mod?"
什么时候可以支持mod?

[2019-01-25 07:41] liubog2008 commented on #262
https://github.com/caicloud/nirvana/issues/239

@kdada 支持了吧？

[2019-01-25 08:14] kdada commented on #262
It's already being supported.

[code]

I'll close this issue because it's done. If you have any other questions, feel free to reopen this issue.

[2019-01-25 08:14] #262 closed

[2019-02-11 08:46] hxdhero commented on #262
--package-manager
v0.2 没有这个参数?

[2019-02-11 09:07] ddysher commented on #262
/reopen

需要一个 release

[2019-02-12 06:55] kdada commented on #262
@hxdhero Please use master now. we'll release v0.2.1 after merging #263

[2019-02-12 09:09] hxdhero commented on #262
@kdada ok

[2019-03-14 15:16] supereagle opened #265 "Generated api json file has only one line"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The generated api json file has only one line, which is very hard to read.

**What you expected to happen**:

The generated api json file has readable format.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-03-14 15:17] supereagle commented on #265
/assign

[2019-03-15 02:05] kdada commented on #265
Will you modify the file manually?

[2019-03-15 05:47] supereagle commented on #265
I will not modify it, but will likely read it.

[2019-03-20 01:47] wutzx opened #267 "API docs server does not work with chrome 73"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I got empty webpage when i access api docs server from chrome 73, and api docs server report below log:

ERROR 0319-18:34:14.402+08 builder.go:318 | strconv.ParseFloat: parsing "b3": invalid syntax

**What you expected to happen**: 

I can get right webpage about api docs.

**How to reproduce it (as minimally and precise

[2019-03-20 02:41] kdada commented on #267
The issue is from `service/filter.go#129` `parseAcceptTypes`.  It seems that the function has some bugs. I'm digging into it.

[2019-03-20 02:57] wutzx opened #268 "Can not generate api docs for AutoParameter when business function argument is pointer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Can not generate api docs for AutoParameter when bussiness function argument is pointer

**What you expected to happen**:

Can generate api docs for AutoParameter when bussiness function argument is pointer

**How to reproduce it (as minimally and precisely as possible)**:

Define auto parameter as pointer in business fu

[2019-03-20 03:05] kdada commented on #267
I upgrade my chrome to 73.0.3683.75. Everything is ok. Do you use the latest version of nirvana?

[2019-03-20 03:08] wutzx commented on #267
Yes, i am using laster version of nirvana.

[2019-03-20 03:13] kdada commented on #267
@wutzx Could you provide a minimal project for this case?

[2019-03-20 03:19] wutzx commented on #267
https://github.com/wutzx/myproject

[2019-03-20 03:20] wutzx opened #269 "How to insert introduction to generated api docs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What you expected to happen**:

Before to use api, user need to known about general information, like
 how to Authentication.

[2019-03-20 03:34] kdada commented on #269
Write your description to `nirvana.yaml`.

[2019-03-20 03:37] wutzx commented on #269
Write to description ? I may be write more than one paragraph.

[2019-03-20 03:40] wutzx commented on #269
May be like https://docs.docker.com/engine/api/v1.25/ to provide multiple section, example: Errors, Versioning and Authentication.

[2019-03-20 03:45] kdada commented on #267
@wutzx I tested your project and there is no problem with `nirvana api`.

[2019-03-20 03:52] wutzx commented on #267
So this issue may be related to my chrome environment, but i do not known why request with `v=b3`

[2019-03-20 03:56] kdada opened #270 "`nirvana api` need to be compatible with `go mod`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

I created a nirvana project with go mod and the project is not in `$GOPATH`. `nirvana api` in this project failed with messages:
[code]

**What you expected to happen**:

Generate api as normal.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a nirvana project in `/tmp/myproject`
2. Run

[2019-03-20 03:59] kdada commented on #267
@wutzx In my env, the `Accept` is also `text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3`. But nirvana handles this cases correctly.

[2019-03-20 04:01] kdada commented on #267
You can fetch the latest nirvana from master branch and reinstall the nirvana command.

[2019-03-20 04:10] kdada commented on #268
are you interested in fixing this problem? If not, I'll fix this issue later.

[2019-03-20 04:12] wutzx commented on #267
Ok, i will be to trying later.

Wei Guo <notifications@github.com>于2019年3月20日 周三下午12:01写道：

[2019-03-20 05:26] wutzx commented on #267
I am reinstall nirvana, then it can work correctly. May be nirvana to provide a flag `--version` to quick known whether is the lastest version.

[2019-03-20 06:29] kdada commented on #267
It's a good idea.

[2019-03-20 06:31] kdada commented on #269
YAML supports multi-lines string:
[code]

[2019-03-20 06:32] kdada commented on #269
/kind support

[2019-03-20 06:32] kdada commented on #267
/kind support

[2019-03-20 06:32] kdada commented on #270
/assign kdada

[2019-03-21 01:58] wutzx commented on #269
I'm refer to https://github.com/Rebilly/ReDoc/blob/master/demo/swagger.yaml, but line start with `#` can not display as a heading, it just display as origin.

[code]
![image](https://user-images.githubusercontent.com/9458625/54729678-d5d73b80-4bbf-11e9-9aa1-9edbccd7bbb7.png)

[2019-03-21 02:40] wutzx commented on #269
I have notice that the new line of description which in `nirvana.yaml` have been generated as `\u003cbr/\u003e` (`<br/>`).

If i change the new line of generated openapi spec json from `<br/>` to `\n`, then `# introduction` can display heading correctly.

[2019-03-21 02:49] wutzx commented on #269
https://github.com/caicloud/nirvana/blob/e559644a421467a6d682b8d3cd056c974f9cee77/utils/generators/swagger/generator.go#L529-L531

@kdada Why replace `\n` to `<br/>` ?

[2019-03-21 03:23] kdada commented on #268
/assign @wutzx

[2019-03-21 03:30] kdada commented on #269
@wutzx

If not escape newline, two line will be merged into one line in markdown.

[2019-03-21 03:33] #268 closed

[2019-03-21 03:35] #265 closed

[2019-03-21 03:42] kdada commented on #269
/kind bug

[2019-03-21 04:56] wutzx opened #272 "Auto parameter string default value without double quotation make api docs generating failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`nirvana api` starting failed with logging:

FATAL 0321-12:50:40.034+08 api.go:61 | json: error calling MarshalJSON for type spec.Swagger: json: error calling MarshalJSON for type *spec.Paths: json: error calling MarshalJSON for type spec.PathItem: json: error calling MarshalJSON for type *spec.Operation: json: error cal

[2019-03-21 11:09] kdada commented on #272
For non-basic types, you can register custom converters by `service.RegisterConverter()`.

[2019-03-21 11:13] wutzx commented on #272
But it does not work with api docs generating by resgister converter.

Wei Guo <notifications@github.com>于2019年3月21日 周四下午7:09写道：

[2019-03-21 11:19] wutzx commented on #272
The marjor issue is normal parameter default value coming from json
unencoding which will including double quotation for string type or base
string type, but for auto parameter default value coming from tag default
raw value.
Taizeng Wu <wutaizeng@gmail.com>于2019年3月21日 周四下午7:13写道：

[2019-03-25 06:19] kdada commented on #272
It's a problem. I have not found an effective way to make them work together.

[2019-03-26 03:46] zjj2wry opened #273 "unsupport head method"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/cc @kdada
[code]

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-03-26 03:50] zjj2wry commented on #273
/assign @kdada

[2019-03-28 05:55] kdada commented on #273
Why is it necessary?

[2019-03-28 06:09] zjj2wry commented on #273
Used in the implementation of chunk download

[2019-03-28 07:03] kdada commented on #273
Actually you wanna add a new `definition.Method(Head)` to Nirvana.  So you need to do these things:
1. Add the method to `definition`
2. Add a http mapping of the method to `service`
3. Add `ConsumeNoneForHTTPHead` and `ProduceNoneForHTTPHead` to `service`
4. Add the two functions to Nirvana project template `cmd/nirvana/project`

[2019-04-01 10:08] hanxueluo commented on #267
I have reproduced this issue in Chrome 73.0.3683.86. Server replies an empty body, but status code == 200. After debug, I find error is from following code line.
[code]

[2019-04-02 02:19] kdada commented on #267
@hanxueluo please fetch the latest commit from the master.

[2019-04-02 02:51] kdada commented on #267
I'v published `v0.2.1`. I'm gonna close this issue. If there is any problem has not solved, feel free to reopen this issue.

[2019-04-02 02:51] #267 closed

[2019-04-04 10:30] zjj2wry opened #274 "nirvana parseAcceptTypes error"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

debug to here:
[code]
this is log
[code]

use chrome will get this error, use safari will success. chrome will pass Accept Header ```v=b3```
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-09 01:45] wutzx commented on #269
It can use html syntax if not remove escape newline, for example: use `<h1>Introduction</h1>` to replace `# Introduction`.
It make sense to use `<code></code>` instead of `` in go source code.

[2019-04-09 13:22] supereagle opened #275 "Support encoded URI in request path"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:

Support encoded URI in request path, like `/projects/caicloud%2Fnirvana`.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-04-10 01:36] zjj2wry commented on #274
already fixed in master branch
/close

[2019-04-10 01:36] #274 closed

[2019-04-10 09:26] wutzx opened #277 "How to add a panic recovery filter or middleware"
/kind support

I want to add a panic recovery filter or middleware, but can't found a right way.

[2019-04-11 03:22] wutzx commented on #277
It can work correctly in middleware, so i close this issue.

[2019-04-11 03:22] #277 closed

[2019-04-15 14:20] #275 closed

[2019-04-16 02:53] wutz opened #278 "Want upgrade http to websocket but always got warning WriteHeader"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind support

**What happened**:

I am use `gorilla/websocket` to upgrade websocket, but always got warning:

[code]

**What you expected to happen**:

Provide a way to disable WriteHeader calling.

[2019-04-16 03:01] wutz commented on #278
https://github.com/caicloud/nirvana/blob/32ebf1fc87109bcda0a109951a427d7ac82b5b58/service/context.go#L212-L218

May be set `c.statusCode = 200` in Hijack which will prevent `WriteHeader` to calling.

[2019-04-25 06:28] #278 closed

[2019-08-23 06:57] iawia002 opened #287 "migrate to golangci-lint"
[golangci-lint](https://github.com/golangci/golangci-lint) is faster than [gometalinter](https://github.com/alecthomas/gometalinter), easier to use, and rich in configuration. And since `gometalinter` is DEPRECATED for now, we should migrate from `gometalinter` to `golangci-lint`

related: https://github.com/caicloud/nirvana/issues/31

/cc @ddysher @kdada

[2019-08-23 07:31] iawia002 opened #288 "remove the deprecated `CloseNotify` function"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

https://github.com/caicloud/nirvana/blob/854a4623c350ca2e71741cc93142f13e2b6afe8a/service/context.go#L208-L211

the original `CloseNotifier` interface was marked as `Deprecated` since Go 1.11, the user should use `http.Request.Context.Done()` as instead. Should we remove this too?

PS: this will trigger a lint problem (#287)

**Wha

[2019-08-23 07:36] ddysher commented on #287
LGTM

[2019-08-23 07:40] iawia002 commented on #287
/assign

[2019-08-26 03:38] kdada commented on #288
Just do it.

[2019-08-29 02:41] #287 closed

[2019-08-30 10:05] iawia002 opened #290 "API docs generation should not rely on a specified project structure"
现在我们很多 project 的目录结构都是自己定义的比较随意的那种，`nirvana api` 检测不到任何 descriptor

现在的想法是能不能在 run server 的时候再来生成 api docs，那个时候是已经拿到了所有 descriptor 的，也少了 `nirvana api` 检测/收集 descriptor 的步骤，把这个做成一个 `Configurer`，需要的话可以配置在启动 server 的时候生成文档或者直接把文档页面自动注册到当前 server 里，可以直接访问，比如：

[code]

`/docs` 就是自动生成的文档的网页版

<img width="1237" alt="Screen Shot 2019-08-30 at 18 03 30" src="https://user-images.githubusercontent.com/913400

[2019-08-31 13:32] supereagle commented on #290
SGTM

[2019-09-11 01:13] ddysher commented on #290
LGTM

BTW, internally, we should propose a semi-standard structure..

[2019-09-19 09:10] lauber00 opened #291 "How to write log to file?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What you expected to happen**:

How to write log to a file?

[2019-09-21 13:11] lauber00 commented on #245
@gaocegege hello，what is the status of this issue?

[2019-09-26 00:16] wutz opened #292 "Log errors returned by business functions"
Is there an elegant way to log errors returned by business functions?

The current plugin reqlog does not meet this requirement. I don't know if this is a bug.

[2019-09-26 02:12] wutz commented on #292
@kdada

[2019-10-08 04:04] kdada commented on #292
@wutz Could you describe your demands with more details? If my understanding is correct, it seems that you want the `reqlog` to output the error returns by your api function. The plugin `reqlog` only outputs the key informations of your requests. If you want to log the error, you could write a plugin to replace `reqlog` or just output the error with `log.Info()`.

[2019-10-08 04:09] kdada commented on #245
@lauber00 There is no implementation of file logger now. If you could implement it, we'll very appreciate it.

[2019-10-08 04:16] wutz commented on #292
I can't fount a simple way (like write a middleware) to log api function returned error.

The way I can find it is to print the log in each api function, or print it in the result's operator, which looks a bit ugly.

[2019-10-09 02:35] kdada commented on #292
@wutz You can wrap `service.ErrorDestinationHandler` to log all errors returned by your functions.
It's very easy to register your own `DestinationHandler` via `service.RegisterDestinationHandler`.

[2019-10-09 03:41] wutz commented on #292
@kdada Thanks, i will be try to use it.

[2019-10-09 08:46] wutz commented on #292
The problem has been resolved by using `service.RegisterDestinationHandler`.

[2019-10-09 08:46] #292 closed

[2019-10-18 23:59] ddysher commented on #291
@kdada @iawia002

[2019-10-21 02:49] kdada commented on #291
same issue: #245

[2019-11-25 10:47] gaocegege commented on #245
/assign

[2020-02-19 08:33] tskdsb opened #297 "generate API doc failed: goroutine stack exceeds 1000000000-byte limit"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-02-19 08:44] tskdsb commented on #297
日志中提到的报错：
![image](https://user-images.githubusercontent.com/11919928/74816969-1ba00500-5337-11ea-8e64-9295d1394a70.png)

[2020-02-19 08:45] tskdsb commented on #297
原因可能是：https://github.com/golang/go/issues/34251#issuecomment-530672361

[2020-02-20 01:52] iawia002 commented on #297
Check your API types definition, is there something like this:

[code]

It'll cause infinite recursion when nirvana trying to fetch the struct info which is used to generate API docs.

[2020-02-20 14:46] tskdsb commented on #297
查出来一堆 CR 定义都有循环引用的问题（头疼）：
[code]

/close

[2020-02-20 14:46] #297 closed

[2020-03-13 05:17] tskdsb commented on #297
找到那个循环嵌套的结构了（就它一个）：
[code]

它所在的文件：`k8s.io/apimachinery/pkg/apis/meta/v1/types.go`

难搞哦 @iawia002

[2020-03-13 06:08] supereagle commented on #297
Upstream has removed this struct:
https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/types.go#L1137-L1151

[code]

[2020-03-23 03:54] tskdsb commented on #297
修复的commit：https://github.com/kubernetes/apimachinery/commit/673a612a377adb61abf1d14071de7074292b706b

[2020-03-23 07:26] hezhizhen commented on #297
nirvana 升级 Kubernetes 依赖到 1.17 就可以了？

[2020-03-23 07:31] iawia002 commented on #297
There is nothing to do with nirvana. As long as your API type definition does not have this structure, no error will occur

[2020-03-23 08:34] tskdsb commented on #297
或者 nirvana 支持识别这种循环结构自动截断。
我用过另一个库，稍微改了下做到了：https://github.com/tskdsb/kin-openapi/commit/c029d268b893d0571811d46608308e0447c872db

[2020-03-23 15:38] supereagle commented on #297
Have tested the components with k8s v1.17, it is OK to generate the API docs.

[2020-04-07 07:50] supereagle opened #300 "Support tags for generated API docs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:

In OpenAPI specification, [tags](https://swagger.io/specification/#operationObject) can be used for logical grouping of operations by resources or any other qualifier.

Support tags for generated API docs.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything

[2020-04-09 06:20] #300 closed

[2020-04-09 06:26] ddysher commented on #270
@kdada is this done?

[2020-04-09 06:26] ddysher commented on #270
/cc @iawia002

[2020-04-09 06:58] hezhizhen commented on #270
https://github.com/caicloud/nirvana/pull/299

[2020-04-09 10:29] iawia002 opened #304 "Sync the template content in nirvana init with nirvana-template-project repo"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

Since we have the [nirvana-template-project](https://github.com/caicloud/nirvana-template-project) repo, maybe we should sync the template content in nirvana init command with nirvana-template-project repo, and then deprecate nirvana-template-project repo, all nirvana projects can be easily generated by `nirvana init xxx`.

And since al

[2020-04-09 11:42] supereagle commented on #270
#299 only switch to `go mod` for Nirvana, but it does not make `nirvana api` to support go mod.  @hezhizhen

[2020-04-09 12:24] hezhizhen commented on #270
I mistook it for `nirvana init`

[2020-04-09 12:37] hezhizhen commented on #304
SGTM

[2020-04-10 02:35] iawia002 commented on #304
/assign

[2020-04-11 13:09] supereagle commented on #304
Maybe not all of nirvana-template-project can be covered by `nirvana init xx`, like Dockerfile and Makefile.

LGTM

[2020-04-12 13:57] supereagle opened #305 "Fail to generate for projects as pkg utils/api is not in their vendor"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

`utils/api` of Nirvana is not in Cyclone's vendor.

**What you expected to happen**:

`utils/api` of Nirvana is automatically included in projects' vendors, and their api docs can be generated by the command `nirvana api`.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need

[2020-04-13 12:07] supereagle commented on #305
`github.com/caicloud/nirvana/utils/api` is needed by the [api generator code](https://github.com/caicloud/nirvana/blob/master/utils/builder/builder.go#L187-L223), but not needed by the projects which wants to use `nirvana api` to generate api docs. So this package will not be in the project's vendor.

[2020-04-15 02:30] #305 closed

[2020-04-15 07:56] #290 closed

[2020-04-28 07:32] lichuan0620 opened #312 "[proposal] Cobra style command line interface and project layout"
/kind design
/area cli

This issue proposes a new, [Cobra](https://github.com/spf13/cobra)-style CLI and a project layout that goes with it.

## The Proposed Design

Right now, this is the recommended Nirvana project layout:

[code]

This encourages the user to build multiple binaries and house them within multiple container images. The CLI of each binary would support different flags and args.

W

[2020-04-30 02:31] hezhizhen opened #315 "Uploading a file causes admin pod OOMKilled"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

把接口置空，然后测试上传行为。

<img width="960" alt="Screen Shot 2020-04-30 at 10 27 32" src="https://user-images.githubusercontent.com/7611700/80665891-49d75900-8acd-11ea-90f0-881efc5b3717.png">

这是刚启动时的内存使用情况，在 200M 以内。

<img width="752" alt="Screen Shot 2020-04-30 at 10 17 03" src="https://user-images.githubusercontent.com/7611700/

[2020-04-30 02:32] hezhizhen commented on #315
@iawia002 @Meoop

[2020-04-30 07:15] iawia002 commented on #315
I found the problem might be caused by `ParseMultipartForm(maxMemory int64)` function. The `maxMemory` we set is 32 MB, if you upload a larger file (bigger than 32 MB), a buffer of size 32 MB at least will be created. If you do the upload a couple of times, and if the GC is lazy, the memory can easily grow up to a large size.

ref: https://stackoverflow.com/questions/30657454/multipart-form-upload

[2020-04-30 08:42] #315 closed

[2020-04-30 10:36] supereagle opened #318 "Recommended structures for Nirvana projects"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

We did discuss this before, the proposed (slightly modified) structure is:

[code]

Refer to the [discussion](https://github.com/caicloud/nirvana-practice/pull/5#discussion_r413706689) for details.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?*

[2020-05-07 09:03] codeflitting commented on #297
短期内 clever 没法用起来呀，因为我们依赖一个比较固定的 cps 版本

[2020-05-20 09:07] tskdsb opened #330 "【API-DOC】2 warning in generated API document"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
![image](https://user-images.githubusercontent.com/11919928/82427911-517e9200-9abc-11ea-9ddf-5213b318df25.png)

- missingProperty: description
- additionalProperty: title

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-05-20 10:29] iawia002 commented on #330
This is actually you did not fill in the description in `Definition.Results`. eg: `Results: def.DataErrorResults(""),`

I'll take a look at this.

[2020-05-25 06:28] #330 closed

[2020-06-02 07:50] iawia002 commented on #318
As with @ddysher's comments at [nirvana-practice](https://github.com/caicloud/nirvana-practice/pull/5#discussion_r417908466), I have no problem with the current structure in [nirvana-template-project](https://github.com/caicloud/nirvana-template-project) repo, except that the `handler` directory should be renamed to `handlers`.

[2020-06-11 06:52] narrowizard opened #335 "nirvana api print fatal error invalid character '\x1b' looking for beginning of value"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
nirvana print a fatal error when running `nirvana api`.
[code]
**What you expected to happen**:
the error is unexpected.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
after some searching, i find the error is reported by `json.Unmarshal`.
`nirvana api` generated a `

[2020-06-16 01:11] lsytj0413 commented on #335
/cc @iawia002

[2020-06-16 13:04] #304 closed

[2020-06-19 06:03] moshuipan opened #337 "only first rule works in nirvana.yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
edit nirvana.yaml
[code]
only first rule `/apis/v1` works
**What you expected to happen**:
api.json  contains healthz
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[generator.go](https://github.com/caicloud/nirvana/blob/master/utils/generators/swagger/generator.go#L1

[2020-06-19 10:41] gaocegege opened #339 "[question] Can we add a http.Handler (e.g. httputil.ReverseProxy) directly to the router?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Hi, thanks for the awesome RESTful framework! It helps me a lot.

I have some problems when I tried to add a reverse proxy to the nirvana router. What I want to do is like the pseudo code here:

[code]

We want to forward some requests to the `httputil.ReverseProxy` (A struct implements http.Handler interface) according to the path

[2020-06-19 11:59] #337 closed

[2020-06-22 06:36] iawia002 commented on #339
Yes, we do not support this use case for now, I'll take a look to see if we can add support for it when I'm free.

[2020-06-22 06:45] iawia002 commented on #335
So you are logging something in the init function of descriptors or modifiers file?

[2020-06-22 07:14] narrowizard commented on #335
not exactly, init function in other package which is imported by descriptors. @iawia002

[2020-06-22 07:20] gaocegege commented on #339
OK gotcha, thanks!

[2020-06-22 07:55] iawia002 commented on #335
Got it, I'll fix this when I'm free (may take days)

[2020-07-13 09:32] ddysher commented on #339
any comment? I think clever model registry depends on the feature (or we'll choose other solution).

[2020-07-13 09:33] gaocegege commented on #339
From my point of view, supporting reverse proxy is not easy in the current design of nirvana. We are using beego in our prototype.

/cc @simon-cj

[2020-07-13 10:11] ddysher commented on #339
ok, sounds good

On Mon, Jul 13, 2020 at 5:33 PM Ce Gao <notifications@github.com> wrote:

[2020-07-13 10:14] gaocegege commented on #339
@iawia002 Please help double-check it: `supporting reverse proxy is not easy in the current design of nirvana`.

If it is not hard, we can help implement it in nirvana.

[2020-07-15 06:51] #339 closed

[2020-07-16 03:53] simon-cj opened #343 "Can support ALL option for HTTP Method?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
now only support  Method  single, for example:
[code]
**What you expected to happen**:
I want to support ALL for HTTP Method when reverseproxy, for example
[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-07-17 02:05] #273 closed

[2020-07-17 02:46] gaocegege commented on #343
/cc @iawia002

[2020-07-17 02:46] iawia002 commented on #343
Working on it.

[2020-07-17 02:46] gaocegege commented on #343
Thanks for your support.

[2020-07-17 03:47] whalecold opened #345 "Guarantee not return error when use File type parameter."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

When use [File](https://github.com/caicloud/config-admin/blob/d8dae3eda049834e683de4bb1bc69131a3a02900/pkg/api/v1/descriptor/config.go#L90) type Parameters, it will return error `required field file in File but got empty` to client when client don't set the parameter, but the file parameter is optional.

**What you e

[2020-07-17 03:49] whalecold commented on #345
/cc @iawia002

[2020-07-20 02:33] #345 closed

[2020-07-28 07:42] moshuipan opened #349 "failed to generate nirvana client"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
when definition.Function have a receiver, the generated function name will end with `-fm` (is append by `runtime.FuncForPC`),
[code]
got error:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-07-28 07:53] iawia002 commented on #349
You can control the generated function name by add `Summary` field of the `Definition`, eg:

[code]

the output generated function name will be `SummaryName`, try if this can solve your problem.

[2020-07-28 08:40] moshuipan commented on #349
/close

[2020-07-28 08:40] #349 closed

[2020-10-27 04:07] #270 closed

[2020-10-27 10:49] knight42 opened #374 "`nirvana init` cannot be run outside GOPATH"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

`nirvana init` cannot be run outside GOPATH:
[code]

**What you expected to happen**:

`nirvana init` is able to create a project outside GOPATH.

**How to reproduce it (as minimally and precisely as possible)**:

run `nirvana init` outside GOPATH.

**Anything else we need to know?**:

[2020-10-27 10:51] iawia002 commented on #374
Working on this and I will submit a PR later

[2020-10-28 02:52] iawia002 commented on #31
Migrated to golangci-lint in #287

/close

[2020-10-28 02:52] #31 closed

[2020-10-28 08:06] #374 closed

[2020-12-18 08:40] whalecold opened #422 "Use fixed return variable name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

When I use `nirvana client` to generate client for rpc server, it use the lower case strcut type name as return variable， it don't work when i use the native type such as `int`, `string`.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to k

[2020-12-18 09:08] whalecold commented on #422
/close

[2020-12-18 09:08] #422 closed

[2021-01-21 01:40] Tomilla opened #448 "[api_docs]Fatal Error: the number of parameters and function args are not equal: len(params)=1, len(funcArgs)=2 exit status 1"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug Report

**What happened**:
After run nirvana init `project_name`, When I am trying to generate API document page with command ` nirvana api pkg/apis --serve="127.0.0.1:8081"`，just return two fatal error as follow:
[code]

**What you expected to happen**:
Start a new server which serves an API document page with the host and the port that specified

[2021-01-21 02:04] iawia002 commented on #448
try `nirvana api pkg`

[2021-01-21 02:30] Tomilla commented on #448
Thanks, It WORK!

However, according the source code of [cmd/nirvana/api/api.go](https://github.com/caicloud/nirvana/blob/master/cmd/nirvana/api/api.go#L78), the `defaultAPIsPath` is "pkg/apis" if user was not set, So is this a version in-compatible issue between v0.3 and v0.4?

[2021-01-21 02:30] #448 closed

[2021-01-21 02:34] iawia002 commented on #448
Oh sorry, it should be `pkg` since v0.3, I will update it soon

[2021-07-04 11:54] alswl opened #462 "Add Official Producer for csv?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

No producer for csv type.

**What you expected to happen**:

Provide a csv producer in `service/content.go`

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2021-07-16 00:36] alswl opened #463 "Feature Request, Grafana dashboard template"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

**What you expected to happen**:

I want this repo provide an official grafana dashboard template for metrics.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2022-07-19 02:40] alswl opened #464 "Is this project still being maintained?"
I use nirvana for several of projects in production, and there is no doubt that it is an excellent framework. I've also submitted a few small feature Pull Requests for this project.

Nirvana hasn't been updated in a while, will he continue to maintain it?

If caicloud is not going to maintain this project, I would like to see if there are other people (or organizations) who would like to maintain